@import url('https://font.googleapis.com/css?family=Poppins:300,400.500,600,700,800,900&display=swap');
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}
body {
 background-image: url(img/home.png)
}

.header {
  background-color: #618264;
  padding: 20px;
  text-align: center;
}
.topnav {
  overflow: hidden;
  background-color: #4f6851;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}